/* Border styles */
#table-4 thead, #table-4 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(211, 202, 221);
    }
    #table-4 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 202, 221);
    }
    
    /* Padding and font style */
    #table-4 td, #table-4 th {
    padding: 3px 5px;
    font-size: 21pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #393D49;
    }
    
    /* Alternating background colors */
    #table-4 tr:nth-child(even) {
    background: #dddddd
    }
    #table-4 tr:nth-child(odd) {
    background: #f2f2f2
    }

td.one {
    width:60px;
}
td.two {
    width:150px;
}
td.three {
    width:150px;
}
td.four {
    width:240px;
}
td.five {
    width:100px;
}