{% extends "baselayui.html" %}


{% block title %}登入停水信息{% endblock %}

{% block page_content %}
<div class="layui-container">  
    <div class="layui-row">
<hr>
      <div class="layui-col-md4">
          <div class="layui-header">
            <h2 id="h2title" style="text-align:center">录入停水信息</h2>
          </div>
      <div style="width:90%">
<form id="login" class="layui-form" action method="POST">
    <div class="layui-form-item">
      <input type="text" name="id" id="id" value="" style="display:none">
      <label class="layui-form-label">开始时间</label>
      <div class="layui-input-block">
        <input type="text" name="startdate" id="startdate" required  lay-verify="required" placeholder="开始日期" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">结束时间</label>
        <div class="layui-input-block">
          <input type="text" name="enddate" id="enddate" placeholder="结束日期" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">抢修地址</label>
        <div class="layui-input-block">
          <input type="text" name="address" id="address" required  lay-verify="required" placeholder="抢修地址" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">影响区域</label>
      <div class="layui-input-block">
        <textarea name="area" id="area" placeholder="请输入内容" class="layui-textarea" style="height:210px"></textarea>
      </div>
    </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择框</label>
            <div class="layui-input-block">
              <select name="type_id" id="type_id" lay-verify="required">
                <option value=""></option>
                {% for types in typelist %}
                <option value="{{ types.id }}">{{ types.name }}</option>
                {% endfor %}

              </select>
            </div>
          </div>


  <div class="layui-form-item">
    <div class="layui-input-block">
      <button id="submit" class="layui-btn" lay-submit lay-filter="formDemo">立即录入</button>
    </div>
  </div>
  {% for message in get_flashed_messages() %}
  <div id="flash" class="alert alert-warning" >
      <button class="layui-btn layui-btn-primary" style="width:100%">
          <i class="layui-icon">&#x1006;</i> {{ message }}
        </button>
  </div>
  {% endfor %}
</form>
</div>
</div>
<div class="layui-col-md8">
    <table id="tingshui" lay-filter="test"></table>
    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
      <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </script>
</div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
// 渲染日期时间选择期
layui.use('laydate', function(){
    var laydate = layui.laydate;
    
    //执行一个laydate实例
    laydate.render({
      elem: '#startdate',
      type: 'datetime' //指定元素
    });
    laydate.render({
        elem: '#enddate',
        type: 'datetime'
    })
  });
  layui.use('form', function(){
      var form = layui.form;
      /*
      //监听提交
      form.on('submit(formDemo)', function(data){
      $('#login').submit();
       // $.post('auth/login',data.field);
      });*/
    });
    
 
//执行渲染表格
layui.use('table',function(){
  var table = layui.table;
  
table.render({
  elem: '#tingshui' //指定原始表格元素选择器（推荐id选择器）
  ,height: 600 //容器高度
  ,url: '/tblJSON'
  ,cellMinWidth: 20
  ,page: true
  ,cols: [[{
    field: 'startdate', title: '开始时间', width:160,sort:true}
    ,{field: 'enddate', title: '结束时间',width:160, sort:true}
    ,{field: 'address', title: '地址',width:180}
    ,{field: 'area', title: '范围',width:200}
    ,{field: 'typename', title:'类型', sort:true,width:90 }
    ,{fixed: 'right', width:118, align:'center', toolbar: '#barDemo'}
    ]] //设置表头
  //,…… //更多参数参考右侧目录：基本参数选项
});
  //监听工具条
  table.on('tool(test)', function(obj){
    var data = obj.data;
    if(obj.event === 'detail'){ // 查看详情
      layer.msg('ID'+ data.id +'：' + data.typename + '<br>开始时间:' 
      + data.startdate + '<br>结束时间:' + data.enddate
      + '<br>抢修地址:' + data.address + '<br>影响范围:' + data.area);
    } else if(obj.event === 'edit'){ // 编辑数据
      $('#id').val(data.id);
      $('#startdate').val(data.startdate);
      var myDate = new Date();
      $('#enddate').val(data.enddate || '2017-12-18 00:00:00')
      $('#address').val(data.address);
      $('#area').val(data.area);
      $('.layui-select-title>input').val(data.typename)
      $('#type_id>option:contains('+data.typename+')')[0].selected=true
      layer.msg('左边表单中进行编辑'); //提示信息
      $('#submit').attr('class','layui-btn layui-btn-warm').text('确认修改') // 改变提交按钮
      $('#h2title').text('编辑停水信息')
    }
  });
})
$('#flash').on('click',function(){$('#flash').remove()}) //删除错误消息框
</script>
{% endblock %}
